# Build a Regression Model

*by Mei Chiao Lin*

*Jun/3rd/2020*

### Table of Contents :

Part A  -- *One* hidden layer, *non normalized data*, *50* epochs

Part B -- *One* hidden layer, *normalized data*, *50* epochs

Part C -- *One* hidden layer, *normalized data*, *100* epochs

Part D -- *Three* hidden layers, *normalized data*, *50* epochs

In [1]:
import keras

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [2]:
import pandas as pd
import numpy as np

In [3]:
from sklearn.model_selection import train_test_split

### Part A

In [5]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [6]:
concrete_data.shape

(1030, 9)

In [7]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [8]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

#### Splitting the data

In [9]:
concrete_data_columns = concrete_data.columns
X = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
y = concrete_data['Strength'] # Strength column
n_cols=X.shape[1]

In [10]:
#Split the data into training dataset and testing dataset with 30% test dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

#### Building the model

In [11]:
from keras.models import Sequential
from keras.layers import Dense

In [12]:
#One hidden layer with 10 nodes and relu function
#adam optimizer and mean_squared_error as loss function
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

#### Training

In [13]:
#build the model
model = regression_model()

In [14]:
#fitting data to the model with 50 epoch
model.fit(X_train, y_train, epochs=50)

Epoch 1/50
721/721 [==============================] - 1s 1ms/step - loss: 9136.4616
Epoch 2/50
721/721 [==============================] - 0s 390us/step - loss: 3158.3067
Epoch 3/50
721/721 [==============================] - 0s 556us/step - loss: 1679.4293
Epoch 4/50
721/721 [==============================] - 0s 334us/step - loss: 1000.2133
Epoch 5/50
721/721 [==============================] - 0s 337us/step - loss: 697.1460
Epoch 6/50
721/721 [==============================] - 0s 437us/step - loss: 546.9823 0s - loss: 585.
Epoch 7/50
721/721 [==============================] - 0s 358us/step - loss: 442.1243
Epoch 8/50
721/721 [==============================] - 0s 390us/step - loss: 374.2579
Epoch 9/50
721/721 [==============================] - 0s 641us/step - loss: 327.0696
Epoch 10/50
721/721 [==============================] - 0s 386us/step - loss: 288.3627
Epoch 11/50
721/721 [==============================] - 0s 387us/step - loss: 260.3845
Epoch 12/50
721/721 [==============================] - 0s 362us/step - loss: 238.0115
Epoch 13/50
721/721 [==============================] - 0s 611us/step - loss: 223.4459
Epoch 14/50
721/721 [==============================] - 0s 393us/step - loss: 209.8207
Epoch 15/50
721/721 [==============================] - 0s 410us/step - loss: 196.3474
Epoch 16/50
721/721 [==============================] - 0s 362us/step - loss: 188.7994
Epoch 17/50
721/721 [==============================] - 0s 448us/step - loss: 178.3973
Epoch 18/50
721/721 [==============================] - 0s 361us/step - loss: 170.0365
Epoch 19/50
721/721 [==============================] - 0s 334us/step - loss: 164.4872
Epoch 20/50
721/721 [==============================] - 0s 334us/step - loss: 158.0207
Epoch 21/50
721/721 [==============================] - 0s 354us/step - loss: 154.4200
Epoch 22/50
721/721 [==============================] - 0s 693us/step - loss: 150.1797
Epoch 23/50
721/721 [==============================] - 1s 695us/step - loss: 147.8960
Epoch 24/50
721/721 [==============================] - 0s 494us/step - loss: 145.1864
Epoch 25/50
721/721 [==============================] - 0s 388us/step - loss: 142.3146
Epoch 26/50
721/721 [==============================] - 0s 387us/step - loss: 140.5935
Epoch 27/50
721/721 [==============================] - 0s 388us/step - loss: 138.3703
Epoch 28/50
721/721 [==============================] - 0s 389us/step - loss: 137.4448
Epoch 29/50
721/721 [==============================] - 0s 413us/step - loss: 136.2828
Epoch 30/50
721/721 [==============================] - 0s 328us/step - loss: 134.1332
Epoch 31/50
721/721 [==============================] - 0s 365us/step - loss: 134.0254 0s - loss: 137.066
Epoch 32/50
721/721 [==============================] - 0s 380us/step - loss: 132.3202
Epoch 33/50
721/721 [==============================] - 0s 386us/step - loss: 130.1258
Epoch 34/50
721/721 [==============================] - 0s 415us/step - loss: 130.6702
Epoch 35/50
721/721 [==============================] - 0s 335us/step - loss: 128.6048
Epoch 36/50
721/721 [==============================] - 0s 589us/step - loss: 128.9806
Epoch 37/50
721/721 [==============================] - 0s 420us/step - loss: 127.4834
Epoch 38/50
721/721 [==============================] - 0s 336us/step - loss: 129.8290
Epoch 39/50
721/721 [==============================] - 0s 386us/step - loss: 124.6113
Epoch 40/50
721/721 [==============================] - 0s 383us/step - loss: 126.8124
Epoch 41/50
721/721 [==============================] - 0s 392us/step - loss: 126.5417
Epoch 42/50
721/721 [==============================] - ETA: 0s - loss: 124.682 - 0s 385us/step - loss: 124.5923
Epoch 43/50
721/721 [==============================] - 0s 411us/step - loss: 123.3137
Epoch 44/50
721/721 [==============================] - 0s 391us/step - loss: 122.9109
Epoch 45/50
721/721 [==============================] - 0s 446us/step - loss: 123.0257
Epoch 46/50
721/721 [==============================] - 0s 418us/step - loss: 123.2929
Epoch 47/50
721/721 [==============================] - 0s 389us/step - loss: 122.1341
Epoch 48/50
721/721 [==============================] - 0s 393us/step - loss: 121.0937
Epoch 49/50
721/721 [==============================] - 0s 583us/step - loss: 120.9157
Epoch 50/50
721/721 [==============================] - 0s 386us/step - loss: 121.6887

In [15]:
#evaluate the model
evaluated_score = model.evaluate(X_test, y_test, verbose=1)

309/309 [==============================] - 0s 343us/step

In [16]:
y_predict=model.predict(X_test)

In [17]:
from sklearn.metrics import mean_squared_error

In [18]:
squared_error_score = mean_squared_error(y_test, y_predict)

#### Repeat 50 times

In [19]:
#Repeat 50 times
error_score=[]
for i in range(50):
    model.fit(X_train, y_train, epochs=50, verbose=0)
    y_predict=model.predict(X_test)
    error_score.append(mean_squared_error(y_test,y_predict))

In [20]:
Mean = np.mean(error_score)
Std = np.std(error_score)
print('The mean of mean_squared_error is : {:.3f}\nThe standard deviation of mean_squared_error is : {:.3f}'.format(Mean, Std))

The mean of mean_squared_error is : 56.725
The standard deviation of mean_squared_error is : 23.793

## Part B _ Normalization

In [21]:
#Normalization part by mean and standard deviation
X_nor = (X-np.mean(X))/np.std(X)
y_nor = (y-np.mean(y))/np.std(y)

In [22]:
X_nor.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.477915,-0.856888,-0.847144,-0.916764,-0.620448,0.863154,-1.217670,-0.279733
1,2.477915,-0.856888,-0.847144,-0.916764,-0.620448,1.056164,-1.217670,-0.279733
2,0.491425,0.795526,-0.847144,2.175461,-1.039143,-0.526517,-2.240917,3.553066
3,0.491425,0.795526,-0.847144,2.175461,-1.039143,-0.526517,-2.240917,5.057677
4,-0.790459,0.678408,-0.847144,0.488793,-1.039143,0.070527,0.647884,4.978487

In [23]:
y_nor.head()

0    2.645408
1    1.561421
2    0.266627
3    0.313340
4    0.507979
Name: Strength, dtype: float64

#### Splitting the data

In [24]:
#Split the data into training dataset and testing dataset with 30% test dataset
X_train_nor, X_test_nor, y_train_nor, y_test_nor = train_test_split(X_nor, y_nor, test_size=0.3)

In [25]:
#Train and evaluate the model for 50 times.
error_score_nor=[]
for i in range(50):
    model.fit(X_train_nor, y_train_nor, epochs=50, verbose=0)
    y_predict_nor=model.predict(X_test_nor)
    error_score_nor.append(mean_squared_error(y_test_nor,y_predict_nor))

In [26]:
Mean_nor = np.mean(error_score_nor)
Std_nor = np.std(error_score_nor)

In [27]:
print('The mean of mean_squared_error is : {:.3f}, while in normalized data is {:.3f}\nThe standard deviation of mean_squared_error is : {:.3f}, while in normalized data is {:.3f}'.format(Mean, Mean_nor, Std, Std_nor))

The mean of mean_squared_error is : 56.725, while in normalized data is 0.136
The standard deviation of mean_squared_error is : 23.793, while in normalized data is 0.035

**How does the mean squared of error compared to Part A ?**

The range of loss value in Part A is big, but in Part B is between 0 and 1. 
For the practical reason, the result from part B is more convenient.

## Part C _ Using 100 epochs

In [28]:
#Train and evaluate the model for 50 times using 100 epochs.
error_score_nor_100=[]
for i in range(50):
    model.fit(X_train_nor, y_train_nor, epochs=100, verbose=0)
    y_predict_nor=model.predict(X_test_nor)
    error_score_nor_100.append(mean_squared_error(y_test_nor,y_predict_nor))

In [29]:
Mean_nor_100 = np.mean(error_score_nor_100)
Std_nor_100 = np.std(error_score_nor_100)

In [30]:
print('The mean of mean_squared_error_nor using 50 epochs is : {:.3f}, while using 100 epochs is {:.3f}\nThe standard deviation of mean_squared_error_nor using 50 epochs is : {:.3f}, while using 100 epochs is {:.3f}'.format(Mean_nor, Mean_nor_100, Std_nor, Std_nor_100))

The mean of mean_squared_error_nor using 50 epochs is : 0.136, while using 100 epochs is 0.117
The standard deviation of mean_squared_error_nor using 50 epochs is : 0.035, while using 100 epochs is 0.001

**How does the mean squared of error compared to Part B ?**

The accuracy is increased as the epochs increased by applying equation  accuracy=1âˆ’loss.
The behaviour is more uniform as we can see from the standard deviation of Part C is less than Part B.

## Part D _ 3 hidden layers

#### Building the model

In [31]:
# Three hidden layers with 10 nodes and relu function
# adam optimizer and mean_squared_error as loss function
def regression_model_modified():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [32]:
#build the model and fitting the data with normalized dataset and 50 epochs
model_modified = regression_model_modified()

In [33]:
#Train and evaluate the model for 50 times using 50 epochs.
error_score_nor_3layers=[]
for i in range(50):
    model_modified.fit(X_train_nor, y_train_nor, epochs=50, verbose=0)
    y_predict_nor=model_modified.predict(X_test_nor)
    error_score_nor_3layers.append(mean_squared_error(y_test_nor,y_predict_nor))

In [34]:
Mean_nor_3layers=np.mean(error_score_nor_3layers)
Std_nor_3layers=np.std(error_score_nor_3layers)

In [36]:
print('The mean of mean_squared_error_nor using 1 hidden layer is : {:.3f}, while using 3 hidden layers is {:.3f}\nThe standard deviation of mean_squared_error_nor using 1 hidden layer is : {:.3f}, while using 3 hidden layers is {:.3f}'.format(Mean_nor, Mean_nor_3layers, Std_nor, Std_nor_3layers))

The mean of mean_squared_error_nor using 1 hidden layer is : 0.136, while using 3 hidden layers is 0.129
The standard deviation of mean_squared_error_nor using 1 hidden layer is : 0.035, while using 3 hidden layers is 0.022

**How does the mean squared of error compared to Part B ?**

The accuracy in Part D is increased and more uniform than in part B. 
So increasing hidden layers may increase the accuracy of model and its realibility.